/**
*	This is the main CSS page for the Sigma Pi website
*	Authors:Matthew Ruiz & Daniel Fox
*	12/7/16
*
**/

/**Body**/
body{
	margin:0px;
	padding:0px;
}




/*********The following group pertains to the header backgrounds *************/

/** Container Box **/
#containerBox{
	position:relative;
	width:100%;
}



/** topHeader **/
#topHeader{
	background-color: #f1f1f2;
	position:relative;
	height:45px;
	border-top: 3px solid transparent;
	border-top-color: #662e6b;
	border-bottom: 1px solid transparent;
	border-bottom-color: #e5e5e5;
	width:100%;	
}



/**background navHeader **/
#navHeader{
	width:100%;
	position:absolute;
	height:87px;
	background-color:white;
}



/**background current page/path **/
#currentHeader{
	width:100%;
	position:absolute;
	top:135px;
	height:87px;
	background-color:#662e6b;
}

/**************End background group**************************/








/**The following group pertains to the social media icons and misc external links on top header**/


/** social media icons **/
.socialMediaIcons{
	float:left;
	margin-left:20px;
}



.socialMediaIcons a{
	margin-right:10px;
}



.socialIcons{
	padding-left:0;
	list-style:none;
}



.socialIcons li{
	display:inline-block;
	padding-right:5px;
	padding-left:5px;
}


/** misc header links **/
.miscExternalLinks{
	float:right;
	height:45px;
	z-index:2;
	max-width:1280px;
	position:relative;
	top:10px;
	right:20px;
}



.miscExternalLinks a{
	text-decoration:none;
	font-size:12px;
	padding-right:10px;
	color:#7d7d7d;
}

/*******Close the social media icons and misc external links group****************/








/********************The following group is inside of the inner container box ********/

/** inside container box **/
#insideBox{
	position:relative;
	width:1280px;
	height:1000px;
	margin:-49px auto 0 auto;
	background-color:white;
	z-index:1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



/** main header inside insideBox **/
#mainHeader{
	background-color: #f1f1f2;
	width:1280px;
	max-width: 1280px;
	position:relative;
	height: 45px;
	border-top:3px solid transparent;
	border-top-color: #662e6b;
	border-bottom:1px solid transparent;
	border-bottom-color: #e5e5e5;
	z-index:2;
}


/*************The following group pertains to the top navigation************/


/**mainNav top header **/
#mainNav{
	height:86px;
}


/**nav Sigma Pi WCU logo**/
#navLogo{
	position:absolute;
	padding-top:25px;
	padding-left:30px;
}


/** i.e. home, about, FAQ, etc. as a whole **/
#mainNav > ul{
	position:relative;
	list-style:none;
	text-align:right;
	margin:0 auto;
	max-width: 1280px;
}



/** individual of home, about,...etc. **/
#mainNav li{
	font-family:Lato,Arial,Helvetica,sans-serif;
	font-size:15px;
	line-height:40px;
	text-align:center;
	border-bottom:none;
	border-top:3px solid white;
	display:inline-block;
	position:relative;
	padding-left:25px;
	padding-right:25px;
	padding-top:15px;
}



/**individual navigation cells **/
#home{
	width:50px;
	height:100px;
}



#about{
	width:50px;
	height:100px;
}



#events{
	width:70px;
	height:100px;
}



#application{
	width:90px;
	height:100px;
}



#faq{
	width:50px;
	height:100px;
}



/**links inside of menu **/
#mainNav a{
	text-decoration:none;
	color:#393939;
}



/**current mainNav hover **/
#mainNav > ul > li:hover{
	border-top:3px solid #662e6b;
}


/*********Close main top navigation group *************************/




/************The following group pertains to the sub-menus when user hovers over about ******/

/**about dropdown **/
#dropdownContent{
	display:none;
	background-color:#e8e8e8;
	border-top: 3px solid #662e6b;
	position:absolute;
	left:-128px;
	top:80px;
	height:350px;
	min-height:350px;
	width:600px;
	min-width:300px;
	z-index:3;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



/**make about sub-menu appear**/
#about:hover #dropdownContent{
	display:block;
	z-index:5;
}



/**Hover over about sub-menus **/
#dropdownContent li:hover{
	background-color:#f5f5f5;
}



/**sub-menu titles**/
.menuTitle{
	height:40px;
	padding-top:20px;
	text-decoration:underline;
	color:#575353;
}



/**formatting for sub-menu lists **/
#dropdownContent ul{
	margin-left:-40px;
}



#dropdownContent ul > li {
	width:200px;
	height:40px;
	text-align:left;
	padding-left:75px;
	color:#575353;
}



#dropdownContent a{
	height:40px;
}





/** aboutSigmaPi - about 1st sub-menu **/
#aboutSigmaPi{
	width:50%;
	height:100%;
	float:left;
		border-right: 1px solid #dcdadb;
}



#aboutSigmaPi ul{
	height:100%;
}



/**ourChapter - abut 2nd sub-menu **/
#ourChapter{
	position:absolute;
	left:50%;
	width:50%;
	height:100%;
}



/**formatting for lists inside about sub-menu **/
#dropdownContent ul li{
	border-top:none;
}


/********Close about sub-menu group**************************************/



/**************The following group pertains to the currentPage/path main top header ***********/



/** current Page/Path main top header **/
#currentPagePath{
	background-color: #662e6b;
	height:87px;
	position:relative;
}



/**current page **/
#currentPage{
	float:left;
}



#currentPage p{
	font-family: Lato,Arial,Helvetica,sans-serif;
	color:white;	
	font-size:20px;
	margin-top:30px;
	margin-left:30px;
}



/**path of current page**/
#pagePath{
	float:right;
	color:white;
	margin-top:30px;
	margin-right:30px;
}



/**pagePath link**/
#pagePath a{
	color:white;
	text-decoration:none;
	font-size:15px;
}


/************Close currentPage/path main top header group*****************/






/**************** The following group pertains to the main body of text ******/

/**main body of main text **/
#main{
	padding-top:40px;
	padding-right:10px;
	color:#575353;
}

.marginTen{
	margin:10px;
}

#mainContent{
	width:1260px;
	line-height:1.73;
}



#mainContent > a{
	font-family: Lato,Arial,Helvetica,sans-serif;
	color:#575353;
}



#mainContent p,h3{
	font-family: Lato,Arial,Helvetica,sans-serif;
	color:#575353;
}



/**Formatting for strong words (used in main text)**/
strong{
	font-family: Lato,Arial,Helvetica,sans-serif;
	color:#575353;
}



/** link to external page inside of main text **/
.btnSmall{
	text-decoration:none;
	color:#333;
}



/**format used in main text**/
.p2{
	text-align:center;
}

/********The following grouping contains the index.html content*******/



/**mainContent containter **/
#indexMainContainer{
	position:absolute;
	width:1280px;
	min-width:600px;
	top:135px;
}



/**index.html random slideshow **/
#homeSlideshowPic{
	z-index:1;
	border: 15px solid #662e6b;
	padding: 10px;
	max-width:550px;
	float:left;
}


#brotherOfTheWeek{
	border: 15px solid #662e6b;
	margin-left:60px;
	height:320px;
	width:570px;
	float:left;	
}

.divHR{
	position:absolute;
	width:568px;
	top:65px;
}

#botWeekSub1{
	width:45%;
	position:absolute;
	top:79px;
	padding-left:5px;
	float:left;
}

#botWeekSub2{
	width:300px;
	position:absolute;
	top:79px;
	right:60px;
	text-align:center;
	line-height:1.2;
}
#indexMainContainer h2{
	text-align:center;
	margin-top:-5px;
	
}


#announcements{
	border: 15px solid #662e6b;
	float:left;
	margin-top:60px;
	height:320px;
	width:570px;
}


#recognitions{
	border: 15px solid #662e6b;
	float:left;
	margin-top:60px;
	margin-left:60px;
	height:320px;
	width:570px;
}

#brotherRecognitionSub1{
	margin-top:5px;
	margin-left:5px;
}

#brotherRecognitionSub2{
	width:200px;
	position:absolute;
	top:497px;
	right:30px;
}

/***********Close index,html content group*****************/


/************The following group pertains to the alumni.html page ONLY*************/

#alumniBox{
	width:1260px;
	min-width:1200px;
	min-height:900px;
	position:absolute;
}

#alumniBannerBox{
	background-color:#FFDF00;
	width:1260px;
	height:150px;
	position:absolute;
	font-family:Lato,Arial,Helvetica,sans-serif;
	letter-spacing:3px;
}


#alumniBannerBox2{
	background-color:#FFDF00;
	width:680px;
	min-width:680px;
	height:50px;
	min-height:50px;
	text-align:right;
	position:absolute;
	right:0px;
	bottom:0px;
	font-family:Lato,Arial,Helvetica,sans-serif;
	
}

#alumniBanner{
	color:white !important;
	font-size:50px;
	padding-left:50px;
	padding-top:15px;
}

#alumniBannerBox2 ul{
	margin-bottom:30px;
	font-size:17px;
}

#alumniHead li{
	display:inline-block;
	font-size:22px;
	padding-right:10px;
}

#alumniHead li > a{
	color:white;
	text-decoration:none;
}

#compositeSlideShow{
	width:1260px;
	height:400px;
	position:relative;
	top:150px;
	background-color: #C3C3C3;
}

.mySlides{
	height:400px;
	width:100%;
	position:relative;
	display:block;
	margin:auto;
}

#alumniOfTheMonth1{
	background-color:#FFF;
	width:400px;
	height:50px;
	position:relative;
	top:550px;
	text-align:center;
	font-family:Lato,Arial,Helvetica,sans-serif;
}

#alumniOfTheMonth2{
	background-color:#FFF;
	width:400px;
	height:450px;
	position:relative;
	top:550px;
}

.alumniOfTheMonth{
	position:absolute;
	width:100%;
	height:auto;
}

.bottomLeft{
	position:absolute;
	bottom:8px;
	left:0px;
	font-size:18px;
	font-family:Lato,Arial,Helvetica,sans-serif;
}

#newAlumniSummary{
	background-color:white;
	width:859px;
	height:500px;
	position:absolute;
	top:842px;
	right:11px;
}
.neatText{
	text-align:left;
	margin:10px;
}

#newAlumniTable{
	background-color:white;
	height:440px;
	width:1260px;
	position:relative;
	top:525px;
}

#newAlum{
    border-collapse: collapse;
    border-spacing: 10px;
    width: 900px;
    table-layout: auto;
    position: absolute;
    left: 180px;	
}




/************Close alumni.html group***********************************************/



/************The following group pertains to the execStaff.html page ONLY*************/



/**formatting for exec staff box/info ONLY**/
#executiveStaffContainer{
	margin:100px auto 0 0;
}



#executiveStaffJW{
	float:left;
	width:300px;
	height:500px;
	border:1px solid #D7D7D7;
}



#executiveStaffJW p{
	line-height:0.5;
	text-align:center;
}



#executiveStaffJT{
	float:left;
	margin-left:10px;			
	width:300px;
	height:500px;
	border: 1px solid #D7D7D7;
}



#executiveStaffJT p{
	line-height:0.5;
	text-align:center;
}



#executiveStaffAS{
	float:left;
	margin-left:10px;			
	width:300px;
	height:500px;
	border: 1px solid #D7D7D7;
}



#executiveStaffAS p{
	line-height:0.5;
	text-align:center;
}



#executiveStaffSAS{
	float:left;
	margin-left:10px;			
	width:300px;
	height:500px;
	border: 1px solid #D7D7D7;
}



#executiveStaffSAS p{
	line-height:0.5;
	text-align:center;
}


/*****Close execStaff.html group************************/


/*****The followin group pertains to the currentMembers.html page ONLY********/
#currMemberBox{
	width:1260px;
	position:absolute;	
}	


#currMembersHeader{
	background-color:#FFDF00;
	width:1260px;
	height:100px;
	position:relative;
	font-family: Lato,Arial,Helvetica,sans-serif;
    text-align: center;
}

#currMemberHeaderText{
	color:#FFF;
	font-size:30px;
	padding-top:20px;
}


#currMembersTableBox{
	background-color:#FFF;
	width:1260px;
	height:100%;
	position:absolute;
	top:110px;
}	


#execTable{
	border-collapse:collapse;
	border-spacing:10px;
	table-layout:fixed;
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}

th{
	background-color:#662e6b;
	color:white;
	text-align:center;
	border-bottom: 1px solid #DDD;
    font-family: Lato,Arial,Helvetica,sans-serif;
    padding: 8px;
}

td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: Lato,Arial,Helvetica,sans-serif;
    padding: 8px;
}


td:hover {
    background-color: #f5f5f5;
}

#execDivider{
    background-color: #696969;
    width: 1260px;
    height: 8px;
	position:relative;
}

#currMemTable {
    border-collapse: collapse;
    border-spacing: 10px;
    width: 1100px;
    margin-bottom: 100px;
    table-layout: fixed;
    margin-left:auto; 
    margin-right:auto;

}





/*************Close currentMembers.html group ************/

/**Only used on the creed, obligations, and ideal links on the beliefs.html page **/
#creedOblIdeals{
	text-align:center;
}




/**Used to format big logo on about.html page *********/
#bigLogoContainer {
	max-width:650px;
	margin:0 auto;
}

/**Used to format body of about.html page. To please the eye*****/
#aboutDescription{
	max-width:1080px;
	margin:0 auto;
}




/*******Close main body of text group **************/
/***********Close inside container box group *******************/





/**************** The following group pertains to the footer ***************/

/**fixed footer background**/
#footer{
	height:45px;
	width:100%;
	background-color:#4b4c4d;
	position:fixed;
	bottom:0;
	z-index:5;
}



/**main fixed footer **/
#footerMain{
	width:1280px;
	margin:0 auto;
}



/******************** End footer group *********************************************/





/*************Animation****************************/


/**growAnimation used on Brother of the Week**/

@keyframes fontbulger {
  0%, 100% {
    font-size: 50px;
  }
  50% {
    font-size: 25px;
  }
}
.growAnimation{
	animation: fontbulger 2s infinite;
}


/**lateral movement used on Annoucnements **/
.lateralAnimation{
	position:relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite; 	
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:10px;}
    25%  {left:200px; top:10px;}
    75%  {left:-200px; top:10px;}
    100% {left:0px; top:10px;}
}
/******************End animations***************************/






































